/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #f9f9f9;
    color: #1B1B1B;
  }
  
  /* HEADER STYLING */
  
  .hero {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('../assets/background/hero-background.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .logo {
    position: absolute;
    top: 40px;
    left: 60px;
    width: auto;
    height: 25px;
  }
  
  .hero-title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    color: #FFD15B;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 40px auto 0;
    height: 72px;
  }
  
  
  #main-search {
    width: 100%;
    height: 100%;
    padding: 0 70px 0 25px;
    font-size: 1rem;
    border-radius: 11px;
    border: none;
    outline: none;
  }
  
  #search-button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1B1B1B;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  